h1 {
	font-family: "DejaVu", serif;
	color: white;
}

body {
	background-color: #4A4A4A;
	font-family: "Calibri", Candara, Segoe, "Segoe UI", Optima, Arial,
		sans-serif;
}

li {
	color: #031A2E;
}

img {
	display: block;
	max-width: 864px;
	max-height: 540px;
	width: auto;
	height: auto;
}
/*unvisited link*/
a:link {
	color: #141420;
}
/* visited link*/
a:visited {
	color: #9EABB0;
}
/* mouse over link*/
a:hover {
	color: #A10071;
}