h1 {
	font-size: 233%;
}

header {
	font-family: "DejaVu", serif;
	color: #9399AB;
}

body {
	background-color: #4A4A4A;
	font-family: "Calibri", Candara, Segoe, "Segoe UI", Optima, Arial,
	sans-serif;
	color: #1287A8;
}

li {
	color: #DB1291;
}

img {
	display: block;
	max-width: 864px;
	max-height: 540px;
	width: auto;
	height: auto;
}
/*unvisited link*/
a:link {
	color: white;
}
/* visited link*/
a:visited {
	color: #7A89A6;
}
/* mouse over link*/
a:hover {
	color: #DB1291;
}