header{
	font-family: "Constantia", serif;
	color: #262D40;
	font-size: 120%;
}

body {
	background-color: #BABABA;
	font-family: "Calibri", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h3{
	font-style: italic;
}

iframe{
	width: 500;
	height: 300;
	top: 147px;
	left: 270px;
	position: absolute;
}
img {
	display: block;
	margin-left: auto;
    margin-right: auto;
 	width: 40%;
 	max-height: 300px;
}
footer{
	font-family: "Cambria", Georgia, serif;
}

/*unvisited link*/
a:link {
	color: white;
}
/* visited link*/
a:visited {
	color:  #262D40;
}
/* mouse over link*/
a:hover {
	color: #DB1291;
}