<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<mvc:resources mapping="/resources/**" location="/resources/" />

<head>
<style>
body {
	background-color: #4A4A4A;
}
header {
color: #1287A8;
}

li {
	color: #DB1291;
}

/*unvisited link*/
a:link {
	color: white;
}
/* visited link*/
a:visited {
	color: white;
}
/* mouse over link*/
a:hover {
	color: #DB1291;
}
</style>
</head>

<title>Music Reviews</title>


<body>
	<header>
		<h1>Music Reviews</h1>
	</header>


	<h3><ul th:each="review: ${reviews}">
		<em><li><a th:href="@{/review(id=${review.productId})}"
			th:text="${review.title}" /></li></em>
	</ul></h3>
	<div>

		<img th:src="@{./static/piano.jpeg}"
			src="../static/piano.jpeg"
			alt="Responsive image" /> <img
			src="../static/piano.jpeg" alt="Piano Keys" />
	</div>

</body>
</html>