<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<style>
body {
	background-color: #C4C4C4;
}

img {
	display: block;
	max-width: 685px;
	max-height: 300px;
	width: auto;
	height: auto;
}

/*unvisited link*/
a:link {
	color: white;
}
/* visited link*/
a:visited {
	color: #1287A8;
}
/* mouse over link*/
a:hover {
	color: #DB1291;
}
</style>
<title th:each="review: ${reviews}" th:text="${review.title}" />
</head>

<body>
	<header>
		<h1 th:each="review: ${reviews}" th:text="${review.title}" />
	</header>

	<div th:each="review: ${reviews}">
		<em><h2 th:text="'Genre: ' + ${review.category}" /></em>
		<h4
			th:text="'Year of first studio release: ' + ${review.firstRelease}" />
		<h4 th:text="'Year of last studio release: ' + ${review.lastRelease}" />
		<Section>
			<p th:each="review: ${reviews}" />
			<img th:src="${review.imageUrl}" alt="Band logo" />
		</Section>
		<br></br>
		<Article>
			<h2>Stuff you should know...</h2>
			<p th:each="review: ${reviews}" th:text="${review.content}" />
			<a th:each="review: ${reviews}" th:href="${review.footnoteUrl}">[1]
				Reference Link</a>
		</Article>
		<br></br>
	</div>

	<iframe width="420" height="315" th:each="review: ${reviews}" th:src="${review.youTubeUrl}"> </iframe>


</body>
<footer>
	<br></br> <a href="http://localhost:8080/reviews">Back to home</a>
</footer>
</html>