<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" type="text/css" href="./reviewStylesheet.css" />
<title th:each="review: ${reviews}" th:text="${review.title}" />
</head>

<body>
	<header>
		<h1 th:each="review: ${reviews}" th:text="${review.title}" />
	</header>
	<div class="container">
		<Section th:each="review: ${reviews}">
			<h3 th:text="'Genre: ' + ${review.category}" />
			<h4
				th:text="'Year of first studio release: ' + ${review.firstRelease}" />
			<h4 th:text="'Year of last studio release: ' + ${review.lastRelease}" />

			<iframe width="400" height="240" th:each="review: ${reviews}"
				th:src="${review.youTubeUrl}"> </iframe>

			<br></br> <br></br> <br></br> <br></br> <br></br>
		</Section>

		<Article th:each="review: ${reviews}">
			<h2>Behind the music:</h2>
			<p th:each="review: ${reviews}" th:text="${review.content}" />
			<em><a th:each="review: ${reviews}"
				th:href="${review.footnoteUrl}">[1] Reference Link</a> </em><br></br>

			<p th:each="review: ${reviews}" />
			<img th:src="${review.imageUrl}" alt="Band logo" />
		</Article>
	</div>
</body>
<footer>
	<br></br>
	<h3>
		<a href="http://localhost:8080/reviews">Back to home</a>
	</h3>
</footer>
</html>