<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<mvc:resources mapping="/resources/**" location="/resources/" />

<head>
<link rel="stylesheet" type="text/css" href="./reviewsStylesheet.css" />
</head>

<title>Musical Reviews</title>


<body>
	<header>
		<h1>Musical Artist Reviews</h1>
	</header>

	<div>
		<Section>
			<h3>
				<ul th:each="review: ${reviews}">
					<em><li><a th:href="@{/review(id=${review.productId})}"
							th:text="${review.title}" /></li></em>
				</ul>
			</h3>
			<figure>
				<img src="./images/keys.jpg" alt="Piano Keys" />
			</figure>
		</Section>
	</div>
</body>
</html>